{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <div class="h1" id="title">All merchants</div>
    <div>&nbsp;</div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th hidden="hidden">ID</th>
                <th>Name</th>
                <th>Point</th>
            </tr>
        </thead>
        <tbody>
            {% for merchant in merchants %}
            {% set merchant_id = merchant.key.id() %}
            <tr>
                <td hidden="hidden">{{ merchant_id }}</td>
                <td>{{ merchant.merchant_name }}</td>
                <td>{{ merchant.merchant_cost }} pts/$</td>
            </tr>
            {% else %}
            <tr><td colspan="3">No merchants yet</td></tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block tail_script %}

{% endblock tail_script %}
