<div class="modal hide fade" id="new-merchant-modal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New Merchant</h3>
    </div>
    <div class="modal-body">
        <form id="new-merchant-form" class="well form-horizontal"
            action="{{ url_for('list_merchants') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.merchant_name.label }}</div>
                    <div class="controls">
                        {{ form.merchant_name|safe }}
                        {% if form.merchant_name.errors %}
                        <ul class="errors">
                            {% for error in form.merchant_name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.merchant_cost.label }}</div>
                    <div class="controls">
                        {{ form.merchant_cost|safe }}
                        {% if form.merchant_cost.errors %}
                        <ul class="errors">
                            {% for error in form.merchant_cost.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add Merchant"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

